<p id="notice"><%= notice %></p>

<div class="profile_image">
  <%= image_tag(@profile.photo_url(:thumb), :width =>100, :height => 100)%>
</div>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Number of dives:</strong>
  <%= @profile.number_of_dives %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<%= link_to 'Search for divers', locations_path %>
<%= link_to 'Chat', chat_rooms_path %>
<br>
<br />

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
