<p id="notice"><%= notice %></p>


<p>
  <strong>Profile:</strong>
  <%= @location_review.profile.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @location_review.location.location_name %>
</p>

<p>
  <strong>Review:</strong>
  <%= @location_review.review %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @location_review.rating %>
</p>

<%= link_to 'Back to location', locations_path %>
<%= link_to 'Home', root_path %>
