<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Location name</th>
      <th>Description</th>
      <th>Depth</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.location_name, location %></td>
        <td><%= location.description %></td>
        <td><%= location.depth %></td>
        <td><%= location.difficulty %></td>
        <td>
          <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
<%= link_to 'View Profile', current_user.profile %>
